:host {
  display: inline-block;
  line-height: 0;
}

:host([icon="darkMode"]) svg,
:host([icon="lightMode"]) svg {
  animation: fadeIn 0.4s;
}

button {
  all: unset;
  cursor: pointer;
  padding: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

