@import "@css/global.css";
@import "@css/imports/reset.css";
@import "@css/imports/colors.css";
@import "@css/imports/typography.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
